<div class="product-details">
  <span class="title" itemprop="name">{{ product.title }}</span>
  {% if settings.enable_shopify_collection_badges %}
    <div class="shopify-reviews reviewsVisibility--{{settings.enable_shopify_review_comments}}">
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </div>
  {% endif %}
  {% if settings.display_vendor %}
    <span itemprop="brand" class="brand">{{ product.vendor }}</span>
  {% endif %}

  {% if collection_handles contains 'coming-soon' %}
    <span class="modal_price">{{ 'collections.general.coming_soon' | t }}</span>
  {% else %}
    <span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
      
   </span>
  {% endif %}
</div>
