 
  <div data-collection-url="https://{{ shop.domain }}{{ collection.url }}" class="collection-sidebar sidebar four columns toggle-all--{{ section.settings.toggle }} medium-down--one-whole">
    <a class="mobile-filter-close">✕</a>
    <div class="sidebar-wrap">
     <ul class="toggle_lista">
        {% for link in linklists.sidebar.links%}
        <li><a href="{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
      {% if template contains 'Sub'%}
       <div class="sidebar-block" >
        <h4 class="toggle  "><span class="right icon-down-arrow"></span> Designers </h4>
      <ul class="toggle_list ">
         {% assign linklist = linklists[collection.handle] %}
        {% for link in linklist.links%}
        <li {% if link.active%} class="active" {% endif %}><a href="{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
      </div>
      {% endif %}
               {% for block in section.blocks %}
                      {% if block.settings.sort-dropdown-a-check %}
   	  				  <div class="sidebar-block" {{ block.shopify_attributes }}>
       
                      {% assign tags = block.settings.sort_a  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}    
 
{% assign other_tags = '' %}
{% for tag in current_tags %}
 
{% assign temp_tag = tag | handle %}
 
{% assign temp_tag = temp_tag | append: '+' %}
 
{% assign other_tags = other_tags | append: temp_tag %}
 
{% endfor %}
      
        
          
              <h4 class="toggle {% for tag in tags %}
  {% if current_tags contains tag %}active {% endif %}  {% endfor  %}  "><span class="right icon-down-arrow"></span> {{block.settings.filter1heading}}</h4>
              <ul class="collection-sidebar__filter-items toggle_list {% for tag in tags %}
  {% if current_tags contains tag %}active {% endif %}  {% endfor  %} " >
                    {% assign clear_url = collection.url | append: '/' | append: other_tags %} 
  
 
                                  {% for tag in tags %}
  
  {% assign temp_tag = tag | handle %}
  {% unless other_tags == '' %}
                           
  {% assign temp_tag = temp_tag | prepend: '' %}
                           
  {% endunless %}
  {% assign add_tag_url = clear_url | append: temp_tag %}
                                  
                <li class="collection-sidebar__filter-item" data-tag="{{ tag | handle }}"> {{ tag }}</li>
 
  {% endfor %}
            
              </ul>
            
        </div>
         {% endif %}
                    {% endfor %}
      
    </div>
  </div>
 
<style>
  ul.toggle_lista li, ul.toggle_lista  {
    list-style: none;
    padding: 2px 0px;
    margin: 0;
}
  
  ul.toggle_lista {
    border-bottom: 1px solid;
    padding-bottom: 11px;
}
  h4.toggle {
    font-weight: bold!important;
}
</style>

