
<meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                <meta itemprop="seller" content="{{ shop.name | escape }}" />
                <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
                <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>

                <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
                <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                  <span class="current_price {% if product.available == false %}hidden{% endif %}">
                    {% if variant.price > 0 %}
                      <span class="money">{{ variant.price | money }}</span>
                    {% else %}
                      {{ settings.free_price_text }}
                    {% endif %}
                  </span>
                </span>
                <span class="was_price">
                  {% if variant.price < variant.compare_at_price and variant.available %}
                    {{ variant.compare_at_price | money }}
                  {% endif %}
                </span>

                {% if section.settings.display_savings %}
                  <span class="sale savings">
                    {% if variant.price < variant.compare_at_price and variant.available %}
                      {{ 'products.product.savings' | t }}  {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{{ variant.compare_at_price | minus: variant.price | money }}</span>)
                    {% endif %}
                  </span>
                {% endif %}
