<div class="vertical-menu">
  {% for link in linklists[vertical-menu].links %}
    {% if linklists[link.handle] == empty %}
      <li><a href="{{ link.url }}" class="top_link {% if link.active %}active{% endif %}" data-dropdown-rel="{{ link.handle }}">{{ link.title }}</a></li>
    {% else %}
      <li class="sublink"><a data-no-instant href="{{ link.url }}" class="dropdown_link--vertical {% if link.active %}active{% endif %}" data-dropdown-rel="{{ link.handle }}" data-click-count="0">{{ link.title }} <span class="icon-down-arrow"></span></a>
 
        <div class="MegaMenu">
          <div class="mega-menu-inner">
            <div class="MegaMenu__Item MegaMenu__Item--fit">
              
              <ul>
             {% for link in linklists.megamenu1.links %}
                <li><a href="{{link.url}}">{{link.title}}</a></li>
             {% endfor %}
              </ul>
            
            </div>
            <div class="MegaMenu__Item MegaMenu__Item--fit">
              <ul>
           {% for link in linklists.megamenu2.links %}
                <li><a href="{{link.url}}">{{link.title}}</a></li>
             {% endfor %}
              </ul>
            
            </div>
            <div class="MegaMenu__Item MegaMenu__Item--fit">
              <ul>
                 {% for link in linklists.megamenu3.links %}
                <li><a href="{{link.url}}">{{link.title}}</a></li>
             {% endfor %}
              </ul>
            
            </div>
            <div class="MegaMenu__Item MegaMenu__Item--fit">
              <ul>
                 {% for link in linklists.megamenu4.links %}
                <li><a href="{{link.url}}">{{link.title}}</a></li>
             {% endfor %}
              </ul>
            
            </div>
          
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</div>