<div class="section-hero-banner">
{{ section.settings.desktop_image | image_url: width: 3840 | image_tag: width: section.settings.desktop_image.width, height: image_height_2, class: 'desktop_image', sizes: sizes, widths: widths,  fetchpriority: fetch_priority }}
{{ section.settings.mobile_image | image_url: width: 3840 | image_tag: width: section.settings.mobile_image.width, height: image_height_2, class: 'mobile_image', sizes: sizes, widths: widths,  fetchpriority: fetch_priority }}
<div class="banner-content">
    <h1> {{ section.settings.heading }} </h1>
    <p>
        {{ section.settings.description }}
    </p>
    <div class="date-location-selectors">
        <div class="event-date-picker default_value">
        <select>
          <option value="default">
            Date
          </option>
            {% for block in section.blocks %}
                <option value = "{{ block.settings.event_date |  handleize }}">{{ block.settings.event_date }}</option>
            {% endfor %}
        </select>
        <div class="custom-select-icon">
            {% render 'select-down' %}
        </div>
        <div class="date_icon">
          {% render 'date-icon' %} 
        </div>
        </div>
        <div class="event-location-picker default_value">
        <select>
          <option value="default">
            Location
          </option>
            {% for block in section.blocks %}
                <option value = "{{ block.settings.event_location |  handleize }}">{{ block.settings.event_location }}</option>
            {% endfor %}
        </select>
        <div class="custom-select-icon">
            {% render 'select-down' %}
        </div>
        <div class="date_icon">
          {% render 'location-icon' %} 
        </div>
        </div>
    </div>
</div>
</div>
<section class="events-section">
    <p class="events_quantity"><span class="count_events">{{ section.blocks.size }}</span> events found</p>
  <div class="event-blocks">
    {% for block in section.blocks %}
      <div class="event-block">
        <img class="{{ block.settings.image_alignment }}" src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.event_heading }}" class="event-image">
        <div class="event-content">
            <div class="content_top_container">
          <span class="badge sm-paragraph">{{ block.settings.badge_text }}</span>
          <h2>{{ block.settings.event_heading }}</h2>
          <p class="sm-paragraph">{{ block.settings.event_details }}</p>
          </div>
          <div class="date_time_loc">
            {% if block.settings.event_date != blank %}
            <div class="date">
          <p class="semi-bold">Date</p>
          <p>{{ block.settings.event_date }}</p>
          </div>
            {% endif %}
            {% if block.settings.event_time != blank %}
          <div class="time">
            <p class="semi-bold">Time</p>
            <p>{{ block.settings.event_time }}</p>
          </div>
            {% endif %}
            {% if block.settings.event_location != blank %}
          <div class="location">
            <p class="semi-bold">Location</p>
            <p>{{ block.settings.event_location }}</p>
          </div>
            {% endif %}
          </div>
          <a href="{{ block.settings.event_rsvp_url }}" class="rsvp-link btn btn-primary full-width">
            <span>{{ block.settings.event_rsvp_text }}</span>
            {% render 'right-brand-arrow' %}   
          </a>
        </div>
      </div>
    {% endfor %}

  </div>
</section>

{% schema %}
    {
      "name": "Events",
      "max_blocks": 50,
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Banner Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Banner Image (Mobile)"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Banner Section Heading",
          "default": "Design Shop Events. Join Us!"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Banner Section description"
        }
      ],
      "blocks": [
        {
          "type": "feature_block",
          "name": "Event Block",
          "settings": [
            {
  "type": "select",
  "id": "image_alignment",
  "label": "Align Image",
  "options": [
    {
      "value": "left",
      "label": "Left"
    },
    {
      "value": "right",
      "label": "Right"
    }
  ],
  "default": "left"
},
        {
          "type": "image_picker",
          "id": "image",
          "label": "Event Image"
        },
        {
          "type": "text",
          "id": "badge_text",
          "label": "Badge Text",
          "default": "Pop Up"
        },
        {
          "type": "text",
          "id": "event_heading",
          "label": "Event Heading",
          "default": "Event Name"
        },
        {
          "type": "textarea",
          "id": "event_details",
          "label": "Event Details",
          "default": "Event description goes here."
        },
        {
          "type": "text",
          "id": "event_date",
          "label": "Date",
          "default": "February 13th-15th"
        },
        {
          "type": "text",
          "id": "event_time",
          "label": "Time",
          "default": "10AM - 5PM"
        },
        {
          "type": "text",
          "id": "event_location",
          "label": "Location",
          "default": "123 Event Street"
        },
        {
          "type": "text",
          "id": "event_rsvp_text",
          "label": "RSVP Button Text",
          "default": "RSVP"
        },
        {
          "type": "url",
          "id": "event_rsvp_url",
          "label": "RSVP URL"
        }
      ]
}],
      "presets": [
        {
          "name": "Events",
          "category": "Custom"
        }
      ]
    }
    {% endschema %}
    <style>
        section.events-section {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    background: var(--theme-surfaces-neutral-soft, #F8FAFC);
}
p.events_quantity {
    color: #0C0101;
    text-align: center;
    font-family: Baskerville;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    height: 19px;
    width: 100%;
}
#contact_form .newsletter-form__sign-up span{
  text-transform: capitalize;
}
.date-location-selectors select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    box-shadow: 0px 1px 2px 0px rgba(30, 41, 59, 0.08);
    width: 189px;
    height: 40px;
    margin: 0;
    padding: 7px 12px;
    padding-right: 50px;
    color: var(--theme-text-shade-base, #000);
    font-family: "General Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    min-height: 40px;
    border-radius: unset;
    background-color: transparent;
    z-index: 1;
    position: relative;
}
.date-location-selectors .event-date-picker.default_value select, .date-location-selectors .event-location-picker.default_value select{
padding-left: 32px;
}
.custom-select-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    background-color: #F8FAFC;
    border: unset;
    border: 1px solid var(--theme-surfaces-neutral-mute, #E2E8F0);
    width: 40px;
    height: 40px;
}
.event-date-picker, .event-location-picker {
    position: relative;
    background-color: white;
}
.custom-select-icon svg{
width: 16px;
height: 16px;
}
.date-location-selectors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--dimensions-spacing-sm, 20px);
    line-height: 0;
}
.section-hero-banner {
    position: relative;
    line-height: 0;
}
.banner-content {
    display: flex;
    padding: 24px var(--dimensions-spacing-xlg, 48px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--dimensions-spacing-sm, 20px);
    width: 672px;
    background: var(--theme-surfaces-secondary-base, #648390);
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-content h1{
    color: white;
}
.section-hero-banner img.mobile_image {
    display: none;
}
.section-hero-banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.event-block img.left{
    order: 0;
}
.event-block img.right{
    order: 1;
}
.events-header h2{
    color: #353E44;
}
.date_time_loc {
    display: flex;
    padding: 0px var(--dimensions-spacing-3xs, 8px);
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
header.events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.event-blocks {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
}
.event-block a.rsvp-link {
    max-width: 260px;
}
.event-block {
    width: 100%;
    display: flex;
    max-height: 520px;
    align-items: center;
    flex: 1 0 0;
    align-items: stretch;
    background-color: #648390;
    /* border: 1px solid var(--theme-surfaces-primary-base, #C6A55D); */
    background: var(--theme-surfaces-secondary-base, #648390);
    /* box-shadow: 0px 0px 0px 4px var(--theme-surfaces-neutral-mute, #E2E8F0); */
}
.event-block p, .event-block h2{
    color: #FFFFFF;
}
.event-block img{
width: 50%;
/* max-height: 556px; */
    object-fit: cover;
    border-bottom: 1px solid var(--theme-surfaces-primary-base, #C6A55D);
}
.event-block .event-content{
width: 50%;
display: flex;
padding: 48px 80px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: var(--dimensions-spacing-sm, 20px);
flex: 1 0 0;
}
.event-block a.rsvp-link {
        border: 1px solid var(--theme-surfaces-secondary-base, #648390);
        background: var(--theme-surfaces-primary-base, #C6A55D);
        box-shadow: 0px 0px 0px 1px var(--theme-surfaces-primary-base, #C6A55D);
    }
span.badge.sm-paragraph {
    display: flex;
    padding: 4px var(--dimensions-spacing-3xs, 8px);
    align-items: center;
    gap: 4px;
    border: 1px solid var(--theme-surfaces-primary-base, #C6A55D);
    background: var(--theme-surfaces-primary-base, #C6A55D);
    height: 27px;
    display: inline-block;
}
.content_top_container {
    display: flex;
    padding: 0px var(--dimensions-spacing-3xs, 8px);
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding-bottom: 20px;
    border-bottom: solid 1px #C6A55D;
}
@media screen and (max-width: 950px) {
    .event-block .event-content {
    padding: 28px 16px;
}
}
@media screen and (max-width: 800px) {
    .section-hero-banner img.desktop_image{
        display: none;
    }
    .banner-content{
        width: 358px;
        padding: 24px 16px;
    gap: 20px;
    }
    .banner-content h1 {
    font-size: 28px;
    line-height: 40px;
}
.date-location-selectors select{
    width: 153px;
    padding-right: 45px;
}
    .section-hero-banner img.mobile_image{
        display: block;
    }
.event-block img.right {
    order: 0;
}
section.showroom-locations .section-heading h2{
  font-size: 28px;
  line-height: 40px;
}
section.showroom-locations .section-heading p{
  font-size: 12px;
  line-height: 19px;
}
.event-block {
    /* width: 330px;
    min-width: 330px; */
    flex-direction: column;
    max-height: unset;
}
.event-block img {
    width: 100%;
    border-bottom: unset;
    /* max-width: 330px;
        max-height: 358px; */
}
    .event-block .event-content {
        width: 100%;}
        section.events-section {
        overflow: hidden;
    }
    header.events-header {
    padding: 48px 16px 0;}
    .event-blocks {
    padding: 0 16px;
    overflow-x: auto;
}
.event-block a.rsvp-link {
    max-width: 100%;
}
/* Width */
.event-blocks::-webkit-scrollbar {
  height: 2px;
}

/* Track */
.event-blocks::-webkit-scrollbar-track {
  background: #E2E8F0;
}

/* Handle */
.event-blocks::-webkit-scrollbar-thumb {
  background: #C6A55D;
}

/* Handle on hover */
.event-blocks::-webkit-scrollbar-thumb:hover {
  background: #C6A55D;
}
a.all-events-link.btn.btn-primary.desktop_only {
    display: none;
}
.events-section .mobile_only {
    padding: 0px 16px 48px;
    width: 100%;
}
}
    </style>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
  // Select the select element with the class '.event-date-picker select'
  var selectDateElement = document.querySelector('.event-date-picker select');
  var selectDateParent = document.querySelector('.event-date-picker');
  
  // Check if the select element exists
  if (selectDateElement) {
    // Add change event listener to the select element
    selectDateElement.addEventListener('change', function() {
      // Check if the selected value is 'default'
      if (selectDateElement.value === 'default') {
        console.log('yeshere');
        // Add the class 'default_value' to the parent element '.event-date-picker'
        selectDateParent.classList.add('default_value');
      } else {
        // If the selected value is not 'default', remove the class 'default_value'
        selectDateParent.classList.remove('default_value');
      }
    });
  }

  var selectlocationElement = document.querySelector('.event-location-picker select');
  if (selectlocationElement) {
    selectlocationElement.addEventListener('change', function() {
      if (selectlocationElement.value === 'default') {
        selectlocationElement.closest('.event-location-picker').classList.add('default_value');
      } else {
        selectlocationElement.closest('.event-location-picker').classList.remove('default_value');
      }
    });
  }
});

    </script>